nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    width: 50px;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    // border: 2px solid $primary-color;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      background: $primary-color;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 6;
    }
  }
}
